{{#> layouts/main pageTitle="Home"}}
    <h1>Welcome to the Blog Site</h1>
    {{#if blogPosts}}
        <ul>
            {{#each blogPosts}}
                <li>
                    <a href="/blog/post/{{this.id}}">{{this.title}}</a> - {{this.createdAt}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No blog posts available</p>
    {{/if}}
    <a href="/blog/dashboard">Dashboard</a> | <a href="/auth/signin">Sign In</a> | <a href="/auth/signup">Sign Up</a>
{{/layouts/main}}
