/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Navbar styles */
  .navbar-custom {
    background-color: #4CAF50; 
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-nav .nav-link {
    color: #FFFFFF; 
  }
  
  /* Button styles */
  .btn-custom {
    background-color: #4CAF50; 
    color: #FFFFFF; 
  }
  
  .btn-custom:hover {
    background-color: #45a049; 
  }
  